HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### custom ###
db_dev.mv.db
db_dev.trace.db

### 민감 정보 ###
.env
.properties

# + API key 등 위험 정보 추가 세팅

# 도커 데이터는 각자 로컬에만 저장하고 Git에는 올리지 않음
db/mysql/data/

# macOS
.DS_Store
env